.cabecalho {
  background: url("../../../assets/imagens/fundo-cabecalho.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;


  .logo {
    width: 46%;
    padding: 2rem 3rem;

    img {
      width: 90%;
      max-width: 21.875rem;
    }
  }

  p {
    font-size: 1.5rem;
    color: #6BD1FF;

  }
}

@media (max-width: 576px) {
  .cabecalho {
    .logo {
      padding: 2rem;
    }

    p {
      font-size: 1.5rem
    }
  }

}

@media (max-width: 48rem) {
  .cabecalho {
    .logo {
      width: 90%;
    }

    .imagem {
      display: none;
    }
  }
}
